@media (max-width: 1399px) {
    .topbar {
      background-position: center bottom; }
    .live-box {
      padding: 0px;
      
      padding-bottom: 0; }
    .footer {
      background-position: center bottom -3%; } }

.live-box {
    position: relative; }
    .live-box .overlay {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.5);
      text-align: center;
      height: 100%;
      display: none; }
      .live-box .overlay .live-btn {
        position: relative;
        top: 45%;
        padding: 10px 20px; }
    .live-box:hover .overlay {
      display: block; }
     .m-t-30 {
    margin-top: 30px;
     }

.m-l-30 {
    margin-left: 30px;
}
.font-12 {
    font-size: 12px;
}
.font-bold {
    font-weight: 800;
}

.text-uppercase {
    text-transform: uppercase !important;
}