﻿ <!-- Favicon  -->
<link rel="icon" href="~/ForStore/img/core-img/favicon.ico">

<!-- Core Style CSS -->
<link rel="stylesheet" href="~/ForStore/css/core-style.css">
<link rel="stylesheet" href="~/ForStore/style.css">

<!-- Responsive CSS -->
<link href="~/ForStore/css/responsive.css" rel="stylesheet">
