﻿
<script src="~/ForStore/js/jquery/jquery-2.2.4.min.js"></script>

<script src="~/bootstrap-4.5.3-dist/bootstrap-4.5.3-dist/js/bootstrap.js"></script>
<!-- Popper js -->
<script src="~/ForStore/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="~/ForStore/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="~/ForStore/js/plugins.js"></script>
<!-- Active js -->
<script src="~/ForStore/js/active.js"></script>