﻿@model BrandViewModel
    <div class="modal fade" id="quickview" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">

        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                    <div class="modal-body">
                        <div class="quickview_body">
                            <div class="container">
                                <div class="row">
                                    <div class="navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">

                                        <form asp-controller="Brand" asp-action="SaveBrandInfo" method="post" enctype="multipart/form-data">

                                            <div class="col-12 col-lg-7">
                                                <div class="quickview_pro_des">
                                                    <h4 class="title">Create Brand</h4>


                                                    <section class="text-center p-md-5">
                                                        <div class="form-group col-12 container">
                                                            <input asp-for="File" type="file"
                                                                   onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
                                                            <img id="blah" alt="your image" src="~/ForBrand/images/placeb.png" width="100" height="100" />
                                                        </div>
                                                        <div class="form-group col-12 container">
                                                            <div>
                                                                <label asp-for="Name" class="float-left ml-1">Name : </label>
                                                                <input type="text" id="Name" asp-for="Name" />
                                                                <span asp-validation-for="Name" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-12 container">
                                                            <div>
                                                                <label asp-for="Description" class="float-left ml-1">Descrip : </label>
                                                                <input type="text" id="Description" asp-for="Description" />
                                                                <span asp-validation-for="Description" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-12 container">
                                                            <div>
                                                                <label asp-for="Location" class="float-left ml-1">Location : </label>
                                                                <input type="text" id="Location" asp-for="Location" />
                                                                <span asp-validation-for="Location" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="m-2 mapboxgl-canary" id="map" data-tooltip="Map"></div>
                                                            </div>
                                                        </div>
                                                        <button type="submit" class="btn btn--primary type--uppercase col-2 p-2" id="CreateBtn" data-tooltip="Create Brand Data ">
                                                            <span class="align-content-stretch">Create</span>

                                                        </button>


                                                    </section>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


        <div id="main-wrapper">
            <div class="navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                <header class="topbar">
                    <div class="container">
                    </div>
                </header>

                <div class="page-wrapper">
                    @*categories*@
                    @*<a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="2">
                        <img />
                    </a>*@
                    <div>
                        @if (!string.IsNullOrEmpty(ViewBag.error))
                        {
                            <span>@ViewBag.error</span>
                        }
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-7 text-center">
                            <h1>Our Brands</h1>
                            <p class="m-t-20">
                                Our Demos are awesomely designed and carefully crafted, which helps you
                            </p>
                            <p>
                                to create your project in no-time. Check them out!
                            </p>

                        </div>
                    </div>
                    <section id="demos" class="demos spacer">
                        <div class="container">

                            @*@if(Model.IsAdmin)
                            {*@
                            <div class="col-md-6 m-t-40 product-img">
                                <div class="live-box bg-light text-center p-t-30 p-b-0">
                                    <img src="~/ForBrand/images/placeb.png" alt="">
                                    <div class="product-quicview">
                                        <a data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>

                                    </div>
                                </div>
                            </div>
                            @*}*@

                            <div class="row">
                                @foreach (var item in Model.BrandDto)
                                {
                                    <div class="col-md-6 m-t-40">
                                        <div class="live-box bg-light text-center p-t-30 p-b-0">
                                            <img class="shadow img-fluid" src="@Url.Content(item.ImageUrl)" alt="d4">

                                           
                                            <div class="overlay">
                                                @*@if (Model.IsAdmin)
                                                {*@
                                                    <a class="live-btn" asp-route-id="@Model.Id"
                                                       data-toggle="modal" data-target="@("#"+"Editview"+item.Id)" target="_blank">
                                                        <img src="~/ForStore/img/icons/iconedit.png" width="80" height="80" />
                                                    </a>

                                                    <a class="live-btn" asp-route-id="@Model.Id"
                                                       data-toggle="modal" data-target="@("#"+"Deleteview"+item.Id)" target="_blank">
                                                        <img src="~/ForStore/img/icons/icondelete.png" width="80" height="80" />
                                                    </a>
                                                @* } *@
                                                <a class="live-btn" asp-route-id="@Model.Id"
                                                   data-toggle="modal" data-target="@("#"+"Detailsview"+item.Id)" target="_blank">


                                                    <img src="~/ForStore/img/icons/de.png" width="90" height="90" />
                                                </a>

                                            </div>

                                        </div>
                                        <div class="m-l-30 m-t-30">
                                            <span class="font-12 font-bold text-uppercase">@item.Description</span>
                                            <h3>@item.Name</h3>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="@("Detailsview"+item.Id)" tabindex="-1" aria-labelledby="Detailsview" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                                                    <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                                                    <div class="modal-body">

                                                        <div class="quickview_body">
                                                            <div class="container">
                                                                <div class="row">


                                                                    <div class="col-12 col-lg-7">
                                                                        <div class="quickview_pro_des">
                                                                            <h4 class="title">Details</h4>

                                                                            <div>

                                                                                <d1 class="dl-horizental">
                                                                                    <div class="form-group col-12 container">

                                                                                        <img id="blah" alt="your image" src="@Url.Content(item.ImageUrl)" width="100" height="100" />
                                                                                    </div>
                                                                                    <dt>
                                                                                        @item.Id
                                                                                    </dt>

                                                                                    <dt>
                                                                                        @item.Name
                                                                                    </dt>

                                                                                    <dt>
                                                                                        @item.Description
                                                                                    </dt>

                                                                                    <dt>
                                                                                        @item.Location
                                                                                    </dt>

                                                                                </d1>
                                                                            </div>

                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal fade" id="@("Deleteview"+item.Id)" aria-labelledby="Deleteview" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                                                    <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                                                    <div class="modal-body">
                                                        <div class="quickview_body">
                                                            <div class="container">
                                                                <div class="row">

                                                                    <div class="col-12 col-lg-7">
                                                                        <div class="quickview_pro_des">
                                                                            <h3>Are you sure you want to delete this Brand</h3>
                                                                            <div>

                                                                                <hr />
                                                                                <dl class="dl-horizontal">
                                                                                    <div class="form-group col-12 container">

                                                                                        <img id="blah" alt="your image" src="@Url.Content(item.ImageUrl)" width="100" height="100" />
                                                                                    </div>
                                                                                    <dt>
                                                                                        @item.Id
                                                                                    </dt>

                                                                                    <dt>
                                                                                        @item.Name
                                                                                    </dt>

                                                                                    <dt>
                                                                                        @item.Description
                                                                                    </dt>

                                                                                    <dt>
                                                                                        @item.Location
                                                                                    </dt>

                                                                                </dl>
                                                                                <a type="submit" asp-controller="Brand" asp-action="RemoveBrand" asp-route-id="@item.Id"
                                                                                   class="btn btn-danger">
                                                                                    Delete
                                                                                </a>
                                                                            </div>

                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="@("Editview"+item.Id)" tabindex="-1" role="dialog" aria-labelledby="Editview" aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                                                    <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                                                    <div class="modal-body">
                                                        <div class="quickview_body">
                                                            <div class="container">
                                                                <div class="row">

                                                                    <div class="col-12 col-lg-7">
                                                                        <div class="quickview_pro_des">
                                                                            <h4 class="title">Edit Brand</h4>
                                                                            <form asp-controller="Brand" asp-action="EditBrand" method="post" enctype="multipart/form-data">
                                                                                <section class="text-center p-md-5">

                                                                                    <div class="form-group col-12 container">
                                                                                        <input asp-for="File" class="fileEdite" type="file">
                                                                                        <img class="imageEdit" id="@("blah"+item.Id)" alt="your image" src="@Url.Content(item.ImageUrl)" width="100" height="100" />
                                                                                    </div>

                                                                                    <div class="form-group col-12 container">
                                                                                        <div>
                                                                                            <label asp-for="@item.Name" class="float-left ml-1">Name Brand: </label>
                                                                                            <input type="text" id="@item.Name" asp-for="EditeBrand.Name" value="@item.Name" />
                                                                                            @*<span>@ViewBag.error</span>*@
                                                                                            <span asp-validation-for="@item.Name" class="text-danger"></span>
                                                                                            <input type="hidden" value="@item.Id" asp-for="EditeBrand.Id" />
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group col-12 container">
                                                                                        <div>
                                                                                            <label asp-for="@item.Description" class="float-left ml-1">Descrip : </label>
                                                                                            <input type="text" id="@item.Description" value="@item.Description" asp-for="EditeBrand.Description" />
                                                                                            <span asp-validation-for="@item.Description" class="text-danger"></span>

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group col-12 container">
                                                                                        <div>
                                                                                            <label asp-for="@item.Location" class="float-left ml-1">Location : </label>
                                                                                            <input type="text" id="@item.Location" value="@item.Location" asp-for="EditeBrand.Location" />
                                                                                            <span asp-validation-for="@item.Location" class="text-danger"></span>

                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="row">
                                                                                        <div class="col-12">
                                                                                            <div class="m-2 mapboxgl-canary" id="map" data-tooltip="Map"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <button type="submit" class="btn btn--primary type--uppercase col-2 p-2" id="CreateBtn"
                                                                                            data-tooltip="Create Brand Data ">
                                                                                        <span class="align-content-stretch">Save</span>
                                                                                    </button>

                                                                                </section>
                                                                            </form>

                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    </section>


                </div>
            </div>

        </div>
        @section Styles {
            <link href="~/ForBrand/css/index.css" rel="stylesheet" />
        }

        @section Scripts {
            <script src="~/views/Brand/Brand.js"></script>

        }
