﻿@model ItemViewModel
<!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area Start <<<<<<<<<<<<<<<<<<<< -->
    <div class="navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="breadcumb_area">
            <div class="container">
                <div class="row">
                    <div class="col-12 delete">
                        <ol class="breadcrumb d-flex align-items-center">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Dresses</a></li>
                            <li class="breadcrumb-item active">Long Dress</li>
                        </ol>
                        <!-- btn -->
                        <a asp-controller="Category" asp-action="Index" class="backToHome d-block"><i class="fa fa-angle-double-left"></i> Back to Category</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area End <<<<<<<<<<<<<<<<<<<< -->
        <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area Start >>>>>>>>>>>>>>>>>>>>>>>>> -->
        <section class="single_product_details_area section_padding_0_100">
            <div class="container">
                <div class="row">

                    <div class="col-12 delete">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                                <ol class="carousel-indicators">
                                    <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url(/ForStore/img/product-img/product-9.jpg);">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url(/ForStore/img/product-img/product-2.jpg);">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url(/ForStore/img/product-img/product-3.jpg);">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url(/ForStore/img/product-img/product-4.jpg);">
                                    </li>
                                    @*<li data-target="#product_details_slider" data-slide-to="4" style="background-image: url(/ForStore/img/product-img/@Model.ImageUrl);">
                                    </li>*@
                                    <li data-target="#product_details_slider" data-slide-to="4" style="background-image: url(@Url.Content(Model.ImageUrl));">
                                    </li>


                                </ol>

                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a class="gallery_img" href="/ForStore/img/product-img/product-9.jpg">
                                            <img class="d-block w-100" src="/ForStore/img/product-img/product-9.jpg" alt="First slide">
                                        </a>
                                    </div>

                                    <div class="carousel-item">
                                        <a class="gallery_img" href="/ForStore/img/product-img/product-2.jpg">
                                            <img class="d-block w-100" src="/ForStore/img/product-img/product-2.jpg" alt="Second slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="/ForStore/img/product-img/product-3.jpg">
                                            <img class="d-block w-100" src="/ForStore/img/product-img/product-3.jpg" alt="Third slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="/ForStore/img/product-img/product-4.jpg">
                                            <img class="d-block w-100" src="/ForStore/img/product-img/product-4.jpg" alt="Fourth slide">
                                        </a>
                                    </div>
                                    @*<div class="carousel-item">
                                        <a class="gallery_img" href="/ForStore/img/product-img/@Model.ImageUrl">
                                            <img class="d-block w-100" src="/ForStore/img/product-img/@Model.ImageUrl" alt="Fifth slide">
                                        </a>
                                    </div>*@
                                    <div class="carousel-item">

                                        <a class="gallery_img" href=@Url.Content(Model.ImageUrl)>
                                            <img class="d-block w-100" src=@Url.Content(Model.ImageUrl) />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 delete">
                        <div class="single_product_desc">

                            <h4 class="title"><a href="#">@Model.Name</a></h4>

                            <h4 class="price">@Model.Price $</h4>

                            <p class="available">Available: <span class="text-muted">In Stock</span></p>

                            <div class="single_product_ratings mb-15">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            @if (Model.CategoryType == "Wearing")
                            {
                                <div class="widget size mb-50">
                                    <h6 class="widget-title">Size</h6>
                                    <div class="widget-desc">

                                        <ul>
                                            @Model.Id

                                            @Model.Model
                                            @Model.Brandname
                                        </ul>
                                    </div>

                                </div>
                                <div class="widget size mb-50">
                                    <h6 class="widget-title">Type </h6>
                                    <div class="widget-desc">
                                        @Model.Type
                                    </div>
                                </div>
                                <div class="widget size mb-50">
                                    <h6 class="widget-title">Model </h6>
                                    <div class="widget-desc">
                                      
                                        @Model.Measure
                                    </div>
                                </div>
                            }
                            @if (Model.CategoryType == "Electronic")
                            {
                                <div class="widget size mb-50">
                                    <h6 class="widget-title">Model</h6>
                                    <div class="widget-desc">

                                        <ul>
                                            @Model.Id

                                            @Model.Model
                                            @Model.Brandname

                                        </ul>
                                    </div>

                                </div>
                                <div class="widget size mb-50">
                                    <h6 class="widget-title">RAM </h6>
                                    <div class="widget-desc">
                                        @Model.RAM
                                    </div>
                                </div>
                                <div class="widget size mb-50">
                                    <h6 class="widget-title">VdCard </h6>
                                    <div class="widget-desc">
                                        @Model.VedioCard
                                    </div>
                                </div>
                                <div class="widget size mb-50">
                                    <h6 class="widget-title">Screen </h6>
                                    <div class="widget-desc">
                                        @Model.Screen
                                    </div>
                                </div>
                                <div class="widget size mb-50">
                                    <h6 class="widget-title">CPU </h6>
                                    <div class="widget-desc">
                                        @Model.CPU
                                    </div>
                                </div>
                                <div class="widget size mb-50">
                                    <h6 class="widget-title">SSD </h6>
                                    <div class="widget-desc">
                                        @Model.SSD
                                    </div>
                                </div>
                                <div class="widget size mb-50">
                                    <h6 class="widget-title">HDD </h6>
                                    <div class="widget-desc">
                                        @Model.HDD
                                    </div>
                                </div>
                            }
                          
                           
                            <!-- Add to Cart Form -->
                            <form class="cart clearfix mb-50 d-flex" method="post">
                               
                                <button type="submit" name="addtocart" value="5" class="btn cart-submit d-block">Add to cart</button>
                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    @section Styles {
        <link href="~/ForBrand/css/index.css" rel="stylesheet" />
    }
