﻿@model ItemViewModel
    <div class="navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">

        <div class="breadcumb_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb d-flex align-items-center">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Dresses</a></li>
                            <li class="breadcrumb-item active">Long Dress</li>
                        </ol>
                        <!-- btn -->
                        <a asp-controller="Category" asp-action="Index" class="backToHome d-block"><i class="fa fa-angle-double-left"></i> Back to Category</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area End <<<<<<<<<<<<<<<<<<<< -->
        <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area Start >>>>>>>>>>>>>>>>>>>>>>>>> -->
        <section class="single_product_details_area section_padding_0_100">
            <div class="container">
                <div class="row">

                    <div class="col-12 delete">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                                <ol class="carousel-indicators">
                                    <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url(/ForStore/img/product-img/product-9.jpg);">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url(/ForStore/img/product-img/product-2.jpg);">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url(/ForStore/img/product-img/product-3.jpg);">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url(/ForStore/img/product-img/product-4.jpg);">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="4" style="background-image: url(@Url.Content(Model.ImageUrl));">
                                    </li>

                                </ol>

                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a class="gallery_img" href="/ForStore/img/product-img/product-9.jpg">
                                            <img class="d-block w-100" src="/ForStore/img/product-img/product-9.jpg" alt="First slide">
                                        </a>
                                    </div>

                                    <div class="carousel-item">
                                        <a class="gallery_img" href="/ForStore/img/product-img/product-2.jpg">
                                            <img class="d-block w-100" src="/ForStore/img/product-img/product-2.jpg" alt="Second slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="/ForStore/img/product-img/product-3.jpg">
                                            <img class="d-block w-100" src="/ForStore/img/product-img/product-3.jpg" alt="Third slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="/ForStore/img/product-img/product-4.jpg">
                                            <img class="d-block w-100" src="/ForStore/img/product-img/product-4.jpg" alt="Fourth slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">

                                        <a class="gallery_img" href=@Url.Content(Model.ImageUrl)>
                                            <img class="d-block w-100" src=@Url.Content(Model.ImageUrl) />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 delete">
                        <div class="single_product_desc">
                            <form asp-controller="Item" asp-action="EditItem" method="post" enctype="multipart/form-data">

                                <section class="text-center p-md-5">
                                    <div class="form-group col-12 container">
                                        <input asp-for="@Model.File" type="file"
                                               onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
                                        <img id="blah" alt="your image" src="@Url.Content(@Model.ImageUrl)" width="100" height="100" />
                                    </div>
                                    <div class="form-group col-12 container">
                                        <div>
                                            <label asp-for="@Model.Name" class="float-left ml-1">Name : </label>
                                            <input type="text" id="@Model.Name" asp-for="EditeItem.Name" value="@Model.Name" />
                                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                            <input type="hidden" asp-for="EditeItem.Id" value="@Model.Id" />
                                        </div>
                                    </div>
                                    <div class="form-group col-12 container">
                                        <div>
                                            <label asp-for="@Model.Description" class="float-left ml-1">Dscrp : </label>
                                            <input type="text" id="@Model.Description" asp-for="EditeItem.Description" value="@Model.Description" />
                                            <span asp-validation-for="@Model.Description" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group col-12 container">
                                        <div>
                                            <label asp-for="@Model.Price" class="float-left ml-1 float-left ml-1">Price : </label>
                                            <span class="qty-minus" asp-for="Price" onclick="var effect = document.getElementById('Price'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>

                                            <input type="number" class="qty-text" id="@Model.Price" asp-for="EditeItem.Price" value="@Model.Price" />
                                            <span asp-validation-for="@Model.Price" class="text-danger"></span>
                                            <span class="qty-plus" onclick="var effect = document.getElementById('Price'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>

                                        </div>
                                    </div>
                                    <div class="form-group col-12 container">
                                        <div>
                                            <label asp-for="@Model.Model" class="float-left ml-1">Model : </label>
                                            <input type="text" id="@Model.Model" asp-for="EditeItem.Model" value="@Model.Model" />
                                            <span asp-validation-for="@Model.Model" class="text-danger"></span>
                                        </div>
                                    </div>
                                    @if (Model.CategoryType == "Wearing")
                                    {
                                        <div class="form-group col-12 container">
                                            <label asp-for="@Model.Measure" class="float-left ml-1"></label>
                                            <select asp-items="Model.MeasList" asp-for="EditeItem.Measure" value="@Model.Measure" class="form-group form-control-sm"></select>
                                            <span asp-validation-for="@Model.Measure" class="text-danger"> </span>
                                        </div>
                                        <div class="form-group col-12 container">
                                            <label asp-for="@Model.Type" class="float-left ml-1"></label>
                                            <select asp-items="Model.TList" asp-for="EditeItem.Type" value="@Model.Type" class="form-group form-control-sm"></select>
                                            <span asp-validation-for="@Model.Type" class="text-danger"> </span>
                                        </div>
                                    }


                                    <div class="form-group col-12 container">
                                        <label asp-for="@Model.Type" class="float-left ml-1">Brand</label>
                                        <select asp-items="Model.Company" asp-for="BrandId" class="form-group form-control-sm"></select>
                                        <span asp-validation-for="@Model.Type" class="text-danger"> </span>
                                    </div>
                                    <input asp-for="CategoryId" type="hidden" />

                                    @if (Model.CategoryType == "Electronic")
                                    {
                                        <div class="form-group col-12 container">
                                            <div>
                                                <label asp-for="@Model.RAM" class="float-left ml-1">RAM : </label>
                                                <input type="text" id="@Model.RAM" asp-for="EditeItem.RAM" value="@Model.RAM" />
                                                <span asp-validation-for="@Model.RAM" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-12 container">
                                            <div>
                                                <label asp-for="@Model.VedioCard" class="float-left ml-1">VdCard : </label>
                                                <input type="text" id="@Model.VedioCard" asp-for="EditeItem.VedioCard" value="@Model.VedioCard" />
                                                <span asp-validation-for="@Model.VedioCard" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-12 container">
                                            <div>
                                                <label asp-for="@Model.Screen" class="float-left ml-1">Screen : </label>
                                                <input type="text" id="@Model.Screen" asp-for="EditeItem.Screen" value="@Model.Screen" />
                                                <span asp-validation-for="@Model.Screen" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-12 container">
                                            <div>
                                                <label asp-for="@Model.CPU" class="float-left ml-1">CPU : </label>
                                                <input type="text" id="@Model.CPU" asp-for="EditeItem.CPU" value="@Model.CPU" />
                                                <span asp-validation-for="@Model.CPU" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-12 container">
                                            <div>
                                                <label asp-for="@Model.SSD" class="float-left ml-1">SSD : </label>
                                                <input type="text" id="@Model.SSD" asp-for="EditeItem.SSD" value="@Model.SSD" />
                                                <span asp-validation-for="@Model.SSD" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-12 container">
                                            <div>
                                                <label asp-for="@Model.HDD" class="float-left ml-1">HDD : </label>
                                                <input type="text" id="@Model.HDD" asp-for="EditeItem.HDD" value="@Model.HDD" />
                                                <span asp-validation-for="@Model.HDD" class="text-danger"></span>
                                            </div>
                                        </div>
                                    }

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="m-2 mapboxgl-canary" id="map" data-tooltip="Map"></div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn--primary type--uppercase col-2 p-2" id="CreateBtn" data-tooltip="Create Brand Data ">
                                        <span class="align-content-stretch">Edit</span>

                                    </button>

                                </section>
                            </form>



                            <ul>
                                @*<li><a href="#">32</a></li>
                                <li><a href="#">34</a></li>
                                <li><a href="#">36</a></li>
                                <li><a href="#">38</a></li>
                                <li><a href="#">40</a></li>
                                <li><a href="#">42</a></li>*@

                            </ul>
                        </div>
                    </div>

                    <!-- Add to Cart Form -->


                </div>
            </div>
        </section>
        @*....................................................................*@
    </div>
    <!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area End <<<<<<<<<<<<<<<<<<<< -->
    <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area Start >>>>>>>>>>>>>>>>>>>>>>>>> -->

    @section Styles {
        <link href="~/ForBrand/css/index.css" rel="stylesheet" />
    }
