﻿
@model ItemViewModel
 
    <div class="modal fade" id="quickview" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
        
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                        <div class="modal-body">
                            <div class="quickview_body">
                                <div class="container">
                                    <div class="row">

                                        <div class="col-12 col-lg-7">
                                            <div class="quickview_pro_des">
                                                <h4 class="title">Create Category</h4>
                                                <div class="navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                                                    <form asp-controller="Item" asp-action="SetItemInfo" method="post" enctype="multipart/form-data">

                                                        <section class="text-center p-md-5">
                                                            <div class="form-group col-12 container">
                                                                <input asp-for="File" type="file"
                                                                       onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
                                                                <img id="blah" alt="your image" src="~/ForBrand/images/iconitm.png" width="100" height="100" />
                                                            </div>
                                                            <div class="form-group col-12 container">
                                                                <div>
                                                                    <label asp-for="Name" class="float-left ml-1">Name : </label>
                                                                    <input type="text" id="Name" asp-for="Name" />
                                                                    <span asp-validation-for="Name" class="text-danger"></span>

                                                                </div>
                                                            </div>
                                                            <div class="form-group col-12 container">
                                                                <div>
                                                                    <label asp-for="Description" class="float-left ml-1">Dscrp : </label>
                                                                    <input type="text" id="Description" asp-for="Description" />
                                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                                </div>
                                                            </div>

                                                            <div class="form-group col-12 container">
                                                                <div>
                                                                    <label asp-for="Price" class="float-left ml-1 float-left ml-1">Price : </label>
                                                                  

                                                                    <input type="number" class="qty-text" id="Price" asp-for="Price" />
                                                                    <span asp-validation-for="Price" class="text-danger"></span>
                                                                 
                                                                </div>
                                                            </div>

                                                            <div class="form-group col-12 container">
                                                                <div>
                                                                    <label asp-for="Model" class="float-left ml-1">Model : </label>
                                                                    <input type="text" id="Model" asp-for="Model" />
                                                                    <span asp-validation-for="Model" class="text-danger"></span>
                                                                </div>
                                                            </div>

                                                            @if (Model.CategoryType == "Wearing")
                                                            {
                                                                <div class="form-group col-12 container">
                                                                    <label asp-for="Measure" class="float-left ml-1"></label>
                                                                    <select asp-items="Model.MeasList" asp-for="Measure" class="form-group form-control-sm"></select>
                                                                    <span asp-validation-for="Measure" class="text-danger"> </span>
                                                                </div>
                                                                <div class="form-group col-12 container">
                                                                    <label asp-for="Type" class="float-left ml-1"></label>
                                                                    <select asp-items="Model.TList" asp-for="Type" class="form-group form-control-sm"></select>
                                                                    <span asp-validation-for="Type" class="text-danger"> </span>
                                                                </div>
                                                            }



                                                            <div class="form-group col-12 container">
                                                                <label asp-for="Type" class="float-left ml-1">Brand</label>
                                                                <select asp-items="Model.Company" asp-for="BrandId" class="form-group form-control-sm"></select>
                                                                <span asp-validation-for="Type" class="text-danger"> </span>
                                                                <input asp-for="BrandId" type="hidden" />
                                                            </div>
                                                            <input asp-for="CategoryId" type="hidden" />

                                                            @if (Model.CategoryType == "Electronic")
                                                            {
                                                                <div class="form-group col-12 container">
                                                                    <div>
                                                                        <label asp-for="RAM" class="float-left ml-1">RAM : </label>
                                                                        <input type="text" id="RAM" asp-for="RAM" />
                                                                        <span asp-validation-for="RAM" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-12 container">
                                                                    <div>
                                                                        <label asp-for="VedioCard" class="float-left ml-1">VdCard : </label>
                                                                        <input type="text" id="VedioCard" asp-for="VedioCard" />
                                                                        <span asp-validation-for="VedioCard" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-12 container">
                                                                    <div>
                                                                        <label asp-for="Screen" class="float-left ml-1">Screen : </label>
                                                                        <input type="text" id="Screen" asp-for="Screen" />
                                                                        <span asp-validation-for="Screen" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-12 container">
                                                                    <div>
                                                                        <label asp-for="CPU" class="float-left ml-1">CPU : </label>
                                                                        <input type="text" id="CPU" asp-for="CPU" />
                                                                        <span asp-validation-for="CPU" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-12 container">
                                                                    <div>
                                                                        <label asp-for="SSD" class="float-left ml-1">SSD : </label>
                                                                        <input type="text" id="SSD" asp-for="SSD" />
                                                                        <span asp-validation-for="SSD" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-12 container">
                                                                    <div>
                                                                        <label asp-for="HDD" class="float-left ml-1">HDD : </label>
                                                                        <input type="text" id="HDD" asp-for="HDD" />
                                                                        <span asp-validation-for="HDD" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                            }

                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="m-2 mapboxgl-canary" id="map" data-tooltip="Map"></div>
                                                                </div>
                                                            </div>
                                                            <button type="submit" class="btn btn--primary type--uppercase col-2 p-2" id="CreateBtn" data-tooltip="Create Brand Data ">
                                                                <span class="align-content-stretch">Create</span>

                                                            </button>

                                                        </section>

                                                    </form>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
        </div>
  
        <div class="navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">

            <section class="new_arrivals_area section_padding_100_0 clearfix">

                <div class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                    <div class="consearch">
                        <form  class="searchform order-lg-last"  asp-action="Search" asp-controller="Item" asp-route-id="@Model.CategoryId" method="post">
                            <div class="form-group d-flex">
                                <input name="term" type="text" class="form-control pl-3" placeholder="Search">
                                <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
                              
                            </div>
                        </form>
                    </div>
                </div>
                @*@if (Model.CategoryType == "Wearing")
                {
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section_heading text-center">
                                    <h2>New Arrivals</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="karl-projects-menu mb-100">
                        <div class="text-center portfolio-menu">
                            <button class="btn active" data-filter="*">ALL</button>
                            <a class="btn" asp-controller="Item" asp-action="Getwoman" asp-route-id="@Model.CategoryId">WOMAN</a>
                            <button class="btn" data-filter=".man">MAN</button>
                            <button class="btn" data-filter=".kids">KIDS</button>
                            <button class="btn" data-filter=".access">ACCESSORIES</button>
                            <button class="btn" data-filter=".shoes">shoes</button>

                        </div>
                    </div>
                }*@


            <div class="container">
                @if (Model.IsAdmin)
                {
                    <div class="col-md-6 m-t-40 product-img">
                        <div class="live-box bg-light text-center p-t-30 p-b-0">
                            <img src="~/ForBrand/images/iconitm.png" alt="">
                            <div class="product-quicview">
                                <a href="#" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <h4 class="product-price"></h4>
                            <p></p>
                            <!-- Add to Cart -->
                            <a href="#" class="add-to-cart-btn"></a>
                        </div>
                    </div>
                  }
                    <div class="row karl-new-arrivals">

                        @foreach (var item in Model.ItemDto)
                        {
                            <!-- Single gallery Item Start -->
                            <div class="col-12 col-sm-6 col-md-4 single_gallery_item access wow fadeInUpBig" data-wow-delay="0.4s">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img class="shadow img-fluid" src="@Url.Content(item.ImageUrl)" alt="d4">
                                    <div class="product-quicview">
                                        @if (Model.IsAdmin)
                                        {
                                            <a asp-controller="Item" asp-action="Edit" asp-route-id="@item.Id">
                                                <img src="~/ForStore/img/icons/iconedit.png" width="80" height="70" />
                                            </a>
                                            <a asp-controller="Item" asp-action="Delete" asp-route-id="@item.Id">
                                                <img src="~/ForStore/img/icons/icondelete.png" width="80" height="80" />
                                            </a>
                                        }  
                                            <a asp-controller="Item" asp-action="Details" asp-route-id="@item.Id">

                                                <img src="~/ForStore/img/icons/iconinfor.png" width="260" height="170" />
                                            </a>


                                        </div>
                                </div>
                                <!-- Product Description -->
                                <div class="product-description">
                                    <h4 class="product-price">@item.Price</h4>
                                    <h4 class="product-price">@item.Id</h4>
                                    <p>@item.Description</p>
                                    <span class="font-12 font-bold text-uppercase">@item.Name</span>
                                    <p></p>
                                    <!-- Add to Cart -->
                                    <a href="#" data-toggle="modal" data-target="#@("cart"+item.Id)" class="add-to-cart-btn">ADD TO CART</a>
                                </div>
                            </div>

                            <div class="modal fade" id="@("cart"+item.Id)" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                                            <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                                            <div class="modal-body">
                                                <div class="quickview_body">
                                                    <div class="container">
                                                        <div class="row">

                                                            <div class="col-12 col-lg-5">
                                                                <div class="quickview_pro_img">
                                                                    <img src="@Url.Content(item.ImageUrl)" />
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-lg-7">
                                                                <div class="quickview_pro_des">
                                                                    <h4 class="title">@item.Name</h4>
                                                                    @*<h4 class="title">@item.Id</h4>*@
                                                                    <div class="top_seller_product_rating mb-15">
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                    </div>
                                                                    <h5 class="price">@item.Price <span>$130</span></h5>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia expedita quibusdam aspernatur, sapiente consectetur accusantium perspiciatis praesentium eligendi, in fugiat?</p>
                                                                    <a asp-controller="Item" asp-action="Details" asp-route-id="@item.Id">View Full Product Details</a>
                                                                </div>
                                                                <div class="navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                                                                    <!-- Add to Cart Form -->
                                                                    <form asp-controller="Item" asp-action="SaveCartInfo" method="post">
                                                                        <div class="quantity">
                                                                            <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                                                            <input asp-for="ItemId" value="@item.Id" type="hidden" />
                                                                            <input asp-for="Price" value="@item.Price" type="hidden" />
                                                                            <input asp-for="Id" type="hidden" />
                                                                            <input type="number" asp-for="Quantity" class="qty-text" id="qty" step="1" min="1" max="12" name="quantity" value="1">
                                                                            @*<input type="hidden" asp-for="CategoryId" />*@
                                                                            @*<input type="hidden" asp-for="@item" />*@

                                                                            <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                                        </div>
                                                                        <button type="submit" value="5" class="cart-submit">Add to cart</button>
                                                                        <!-- Wishlist -->
                                                                        <div class="modal_pro_wishlist">
                                                                            <a href="wishlist.html" target="_blank"><i class="ti-heart"></i></a>
                                                                        </div>
                                                                        <!-- Compare -->
                                                                        <div class="modal_pro_compare">
                                                                            <a href="compare.html" target="_blank"><i class="ti-stats-up"></i></a>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <div class="share_wf mt-30">
                                                                    <p>Share With Friend</p>
                                                                    <div class="_icon">
                                                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                                                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                                                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                        <!-- Single gallery Item -->

                    </div>
                </div>
            </section>
        </div>
